body {
  background: #f5f5f5;
}

.container {
  width: 100%;
  margin-top: 22px;
  user-select: none;
  display: flex;
  flex-direction: row;
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.panel {
  border: solid 2px grey;
  background-color: white;
  width: 100%;
  margin-bottom: 22px;
  max-width: 400px;
}

.todos > li {
  border-top: solid 2px #ededed;
}

.header {
  width: 100%;
  margin: 0 0 8px 0;
  text-align: center;
  font-weight: 900;
  font: 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: grey;
}

.icon {
  width: 22px;
  height: 22px;
  color: grey;
  cursor: pointer;
}

.icon-active {
  color: lightcoral;
}

.icon:active {
  color: lightcoral;
}

.icon:hover {
  color: lightcoral;
}

.todos-out {
  padding: 0 22px 0 22px;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.todos-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.todo {
  height: 40px;
  padding: 6px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: solid 1px transparent;
}

.todo-active {
  border: solid 1px lightcoral;
}

.todo-text {
  color: black;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 4px;
  position: relative;
}

.todo-text-active {
  text-decoration: line-through;
  text-decoration-color: lightcoral;
}

.controls {
  height: fit-content;
  margin: 0;
  flex: 0 0 34px;
  border-left: none;
}

.controls > svg {
  margin: 6px;
}

.legend {
  padding: 0 0 0 1em;
  flex: 0 0 320px;
  overflow-y: auto;
  overflow-x: hidden;
}

.history {
  padding: 0 0 0 1em;
  flex: 0 0 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.history-entry {
  padding: 6px;
  color: black;
}

.history-header {
  padding: 6px;
  background-color: lightgrey;
  color: black;
  text-align: center;
}

.legend-header {
  font-size: 18px;
  color: #555555;
}

.legend-row {
  font-size: 18px;
  padding: 0.25em;
  background-color: lightgrey;
}
